:root {
  --primary-static-color: #FBDC57;
  --secondary-static-color: black;
  --primary-color: var(--primary-static-color);
  --secondary-color: var(--secondary-static-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--secondary-static-color);
    --secondary-color: var(--primary-static-color);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

div > wave {
  border: 1px solid var(--primary-static-color)
}

.Description {
  max-height: 300px;
  overflow: scroll;
}

.Description img {
  padding: 20px 0;
}
