:root {
  --primary-color: #FBDC57;
  --secondary-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --secondary-color:#FBDC57;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--primary-color);
  font-family: 'M PLUS 1p', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p, body {
  color: var(--secondary-color);
}

h1, h1, h3, h4, h5, h6 {
  font-weight: bold;
}

.App {
  text-align: center;
}

.bg-default {
  @apply bg-secondary text-primary;
}


.playlist {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.controls {
  text-align: left;
  padding: 1em;
}

.Tag {
  background: var(--secondary-color);
  color: var(--primary-color);
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

#waveform {
  color: var(--primary-color);
  background: var(--secondary-color);
}
