:root {
  --primary-static-color: #FBDC57;
  --secondary-static-color: black;
  --primary-color: var(--primary-static-color);
  --secondary-color: var(--secondary-static-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--secondary-static-color);
    --secondary-color: var(--primary-static-color);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}
