name: Install

on: push

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: npm

      - name: Make sure `npm install` works correctly
        run: npm install
